{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1 class="panel-heading">Modifier Catégorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="container">
        <div class="row" >
            <div class="col col-lg-2">
                <a href="{{ path('categorie_index') }}"><span class="btn btn-primary"><i class="fa fa-backward"></i>&nbsp;Retour</span></a>

            </div>
            {{ include('categorie/_delete_form.html.twig') }}
        </div>


    </div>
{% endblock %}
